@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';

/* [Master Stylesheet - v1.0] */

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';
@import 'css/audioplayer.css';
@import 'css/one-series-icon.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
    color: #000000;
    line-height: 1.3;
    font-weight: 700;

}

p {
    font-family: $fonts;
    color: $text-color;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
}


a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $dark-color;
    font-weight: 700;
    font-size: 16px;
    font-family: $fonts;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* :: 3.3.0 Section Padding */

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* :: 3.4.0 Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    text-align: center;
    p {
        color: #5f5f5f;
        font-size: 14px;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            letter-spacing: 5px;
        }
    }
    &.white {
        h2 {
            color: #fff;
        }
    }
    &.style-2 {
        p {
            font-size: 16px;
        }
        h2 {
            font-size: 30px;
            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }
    }
}

/* :: 3.5.0 Preloader */

.preloader {
    background-color: $white-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        div {
            position: absolute;
            top: 27px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: $dark-color;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            &:nth-child(1) {
                left: 6px;
                @include animation(lds-ellipsis1 0.6s infinite);
            }
            &:nth-child(2) {
                left: 6px;
                @include animation(lds-ellipsis2 0.6s infinite);
            }
            &:nth-child(3) {
                left: 26px;
                @include animation(lds-ellipsis2 0.6s infinite);
            }
            &:nth-child(4) {
                left: 45px;
                @include animation(lds-ellipsis3 0.6s infinite);
            }
        }
    }
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

@keyframes lds-ellipsis1 {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

@keyframes lds-ellipsis3 {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        @include transform(translate(0, 0));
    }
    100% {
        @include transform(translate(19px, 0));
    }
}

@keyframes lds-ellipsis2 {
    0% {
        @include transform(translate(0, 0));
    }
    100% {
        @include transform(translate(19px, 0));
    }
}

/* :: 3.6.0 Miscellaneous */

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-gray {
    background-color: $bg-gray;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
    &::after {
        background-color: rgba(0, 0, 0, 0.65);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.bg-fixed {
    background-attachment: fixed !important;
}

/* :: 3.7.0 ScrollUp */

#scrollUp {
    background-color: $dark-color;
    border-radius: 0;
    bottom: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 50px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
    @media #{$breakpoint-xs} {
        right: 30px;
        bottom: 30px;
    }
    &:hover {
        background-color: #fff;
        color: $heading-color;
    }
}

/* :: 3.8.0 oneSeries Button */

.oneSeries-btn {
    background-color: #fff;
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 212px;
    height: 49px;
    color: #000;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 47px;
    font-weight: 700;
    text-transform: capitalize;
    i {
        margin-left: 5px;
    }
    &:hover,
    &:focus {
        font-size: 16px;
        font-weight: 700;
        background-color: $dark-color;
        color: #fff;
    }
    &.btn-2 {
        background-color: $dark-color;
        color: #fff;
        &:hover,
        &:focus {
            background-color: #fff;
            color: $heading-color;
        }
    }
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 20px;
    left: 0;
    z-index: 1000;
    .oneSeries-main-menu {
        position: relative;
        width: 100%;
        height: 85px;
        background-color: transparent;
        @media #{$breakpoint-xs} {
            height: 70px;
        }
        .classy-nav-container {
            background-color: transparent;
        }
        .classy-navbar {
            background-color: transparent;
            height: 85px;
            padding: 0;
            @media #{$breakpoint-xs} {
                height: 70px;
            }
            .classynav ul li a {
                font-weight: 700;
                text-transform: capitalize;
                color: $white-color;
                font-size: 16px;
                &:hover,
                &:focus {
                    color: rgba(255, 255, 255, 0.7);
                }
                @media #{$breakpoint-md} {
                    background-color: $dark-color;
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }
                @media #{$breakpoint-xs} {
                    background-color: $dark-color;
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }
            }
            .classynav ul li.megamenu-item > a::after,
            .classynav ul li.has-down > a::after {
                color: $white-color;
            }
            .classynav ul li.megamenu-item ul li > a::after,
            .classynav ul li.has-down ul li > a::after {
                color: $heading-color;
                @media #{$breakpoint-xs} {
                    color: $white-color;
                }
            }
            .classynav ul li ul li a {
                color: $heading-color;
                &:hover,
                &:focus {
                    color: #888888;
                }
                @media #{$breakpoint-lg} {
                    padding: 0 15px;
                }
                @media #{$breakpoint-md} {
                    color: $white-color;
                    padding: 0 30px;
                    border-bottom-color: rgba(255, 255, 255, 0.1);
                }
                @media #{$breakpoint-xs} {
                    color: $white-color;
                    padding: 0 30px;
                    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
                }
            }
            .classynav ul li .dropdown li .dropdown li .dropdown li a {
                border-bottom: 1px solid rgba(242, 244, 248, 0.7);
                @media #{$breakpoint-md} {
                    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
                }
                @media #{$breakpoint-xs} {
                    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
                }
            }
        }
        .login-register-cart-button {
            position: relative;
            z-index: 1;
            margin-left: 100px;
            @media #{$breakpoint-md} {
                margin-left: 12px;
                margin-top: 15px;
            }
            @media #{$breakpoint-xs} {
                margin-left: 12px;
                margin-top: 15px;
            }
            .login-register-btn {
                position: relative;
                z-index: 10;
                a {
                    @include trans-duration(500ms);
                    margin-bottom: 0;
                    color: #fff;
                    font-weight: 700;
                    font-size: 16px;
                    cursor: pointer;
                    line-height: 1;
                    &:hover,
                    &:focus {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }
            .cart-btn {
                position: relative;
                z-index: 10;
                p {
                    @include trans-duration(500ms);
                    margin-bottom: 0;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    line-height: 1;
                    &:hover,
                    &:focus {
                        color: rgba(255, 255, 255, 0.7);
                    }
                    .quantity {
                        width: 15px;
                        height: 15px;
                        border: 1px solid #fff;
                        background-color: #232323;
                        color: #fff;
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        left: -10px;
                        z-index: 10;
                        font-size: 9px;
                        font-weight: 400;
                        border-radius: 50%;
                        line-height: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .is-sticky {
        .oneSeries-main-menu {
            position: fixed;
            width: 100%;
            height: 85px;
            top: 0;
            left: 0;
            z-index: 9999;
            background-color: $dark-color;
            box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
            @media #{$breakpoint-xs} {
                height: 70px;
            }
        }
    }
}

.classy-navbar .nav-brand {
    max-width: 130px;
}

.breakpoint-on .classy-navbar .classy-menu {
    @media #{$breakpoint-md} {
        background-color: $bg-default;
    }
    @media #{$breakpoint-xs} {
        background-color: $bg-default;
    }
}

.classynav ul li .megamenu .single-mega.cn-col-4 {
    @media #{$breakpoint-md} {
        padding: 0;
    }
    @media #{$breakpoint-xs} {
        padding: 0;
    }
}

.classycloseIcon .cross-wrap span {
    background: $white-color;
}

/* :: 5.0 Hero Slides Area */

.hero-area,
.hero-slides {
    position: relative;
    z-index: 1;
}

.single-hero-slide {
    width: 100%;
    height: 950px;
    position: relative;
    z-index: 1;
    padding: 0 30px;
    overflow: hidden;
    @media #{$breakpoint-lg} {
        height: 700px;
    }
    @media #{$breakpoint-md} {
        height: 650px;
    }
    @media #{$breakpoint-xs} {
        height: 500px;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -5;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.35);
        content: '';
    }
    .slide-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -10;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .hero-slides-content {
        display: inline-block;
        width: 100%;
        h6 {
            font-size: 18px;
            color: #fff;
            letter-spacing: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
            display: block;
            @media #{$breakpoint-xs} {
                letter-spacing: 5px;
            }
        }
        h2 {
            position: relative;
            z-index: 1;
            font-size: 60px;
            color: $white-color;
            margin-bottom: 0;
            font-weight: 400;
            display: block;
            text-transform: capitalize;
            letter-spacing: 30px;
            overflow: hidden;
            span {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                left: 0;
                color: rgba(255, 255, 255, 0.15);
                @include animation(textsonar 6s linear infinite);
            }
            @media #{$breakpoint-md} {
                letter-spacing: 15px;
                font-size: 42px;
            }
            @media #{$breakpoint-xs} {
                letter-spacing: 5px;
                font-size: 30px;
            }
        }
        .btn {
            border: 1px solid #fff;
            background-color: transparent;
            color: #fff;
            &:hover,
            &:focus {
                background-color: #fff;
                color: $dark-color;
            }
        }
    }
}

@-webkit-keyframes textsonar {
    0% {
        @include transform(scaleX(1));
    }
    50% {
        @include transform(scaleX(1.15));
    }
    100% {
        @include transform(scaleX(1));
    }
}

@keyframes textsonar {
    0% {
        @include transform(scaleX(1));
    }
    50% {
        @include transform(scaleX(1.15));
    }
    100% {
        @include transform(scaleX(1));
    }
}

.single-hero-slide .slide-img {
    @include animation(slide 12s linear infinite);
}

@-webkit-keyframes slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.2));
    }
    100% {
        @include transform(scale(1));
    }
}

@keyframes slide {
    0% {
        @include transform(scale(1));
    }
    50% {
        @include transform(scale(1.2));
    }
    100% {
        @include transform(scale(1));
    }
}

/* :: 6.0 Buy Now Area CSS */

.oneSeries-buy-now-area.has-fluid {
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
    z-index: 1;
}

/* :: 7.0 Events Area CSS */

.single-event-area {
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    img {
        width: 100%;
    }
    .event-text {
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 30px 15px;
        background-color: #000;
        @include trans-duration(500ms);
        h4 {
            color: #fff;
            text-transform: uppercase;
            @include trans-duration(500ms);
        }
        .event-meta-data {
            position: relative;
            margin-bottom: 30px;
            a {
                @include trans-duration(500ms);
                position: relative;
                z-index: 1;
                color: #fff;
                font-size: 15px;
                font-weight: 400;
                display: inline-block;
                padding-right: 29px;
                &:first-child::after {
                    position: absolute;
                    content: '|';
                    top: 0;
                    right: 12px;
                    z-index: 1;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        .see-more-btn {
            font-size: 11px;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 10px;
            border-bottom: 1px solid #fff;
            padding-left: 0;
            padding-right: 0;
            border-radius: 0;
            &:hover,
            &:focus {
                font-weight: 400;
            }
        }
    }
    &:hover,
    &:focus {
        box-shadow: 0 5px 80px 0 rgba(0, 0, 0, 0.2);
        .event-text {
            background-color: #f5f9fa;
            h4,
            .event-meta-data a {
                color: $dark-color;
            }
            .see-more-btn {
                border-bottom-color: $dark-color;
                color: $dark-color;
            }
        }
    }
}

/* :: 8.0 Newsletter Area CSS */

.newsletter-area {
    position: relative;
    z-index: 1;
    border: 1px solid $dark-color;
    padding: 45px;
    .newsletter-form {
        position: relative;
        z-index: 1;
        input {
            width: 100%;
            height: 40px;
            font-size: 14px;
            color: #b3b3b3;
            font-style: italic;
            border: none;
            border-bottom: 1px solid #d6d6d6;
            margin-bottom: 30px;
            display: block;
        }
    }
}

.testimonials-area {
    position: relative;
    z-index: 1;
    padding: 45px;
    .testimonials-slide {
        position: relative;
        z-index: 1;
        .single-slide {
            p {
                font-size: 15px;
                color: #fff;
                font-style: italic;
            }
            .testimonial-info {
                margin-top: 30px;
                display: block;
                .testimonial-thumb {
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    margin-right: 15px;
                    img {
                        border-radius: 50%;
                    }
                }
                p {
                    font-style: normal;
                    font-size: 15px;
                    color: #fff;
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* :: 9.0 Album Catagory Area CSS */

.featured-artist-area {
    position: relative;
    z-index: 1;
}

.featured-artist-content {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-xs} {
        margin-top: 50px;
    }
    p {
        color: #fff;
    }
}

.browse-by-catagories {
    position: relative;
    z-index: 1;
    a {
        display: inline-block;
        background-color: #f4f4f4;
        border: 2px solid transparent;
        padding: 6px 9px;
        font-size: 15px;
        margin-right: 5px;
        @media #{$breakpoint-lg} {
            padding: 4px 7px;
            font-size: 14px;
            margin-right: 4px;
        }
        @media #{$breakpoint-md} {
            padding: 4px 7px;
            font-size: 14px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        @media #{$breakpoint-xs} {
            padding: 2px 5px;
            font-size: 13px;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        &:hover,
        &:focus,
        &.active {
            border: 2px solid $dark-color;
        }
        &:first-child {
            border-color: transparent;
            background-color: transparent;
        }
    }
}

.single-album {
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    margin-bottom: 30px;
    img {
        width: 100%;
    }
    .album-info {
        position: relative;
        z-index: 1;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        h5 {
            font-size: 18px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 0;
        }
    }
    &:hover,
    &:focus {
        box-shadow: 0 5px 70px 0 rgba(0, 0, 0, 0.15);
    }
}

.single-album-area {
    position: relative;
    z-index: 1;
    @include trans-duration(500ms);
    margin-bottom: 30px;
    .album-thumb {
        position: relative;
        z-index: 1;
        .album-price p {
            position: absolute;
            top: 15px;
            left: 15px;
            background-color: #fff;
            margin-bottom: 0;
            line-height: 1;
            padding: 5px 15px;
            border-radius: 15px;
            z-index: 20;
        }
        .play-icon a {
            color: #fff;
            font-size: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            line-height: 1;
            @include transform(translate(-50%, -50%));
        }
    }
    img {
        width: 100%;
    }
    .album-info {
        display: block;
        position: relative;
        z-index: 1;
        padding-top: 15px;
        padding-bottom: 15px;
        h5 {
            font-size: 18px;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        p {
            margin-bottom: 0;
        }
    }
}

.albums-slideshow {
    position: relative;
    z-index: 1;
    .single-album {
        @include trans-duration(500ms);
        margin-bottom: 0;
        border: 1px solid transparent;
        &:hover,
        &:focus {
            border: 1px solid $dark-color;
            box-shadow: none;
            background-color: #f5f9fa;
        }
    }
    .owl-prev,
    .owl-next {
        @include trans-duration(500ms);
        background-color: #fff;
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid $dark-color;
        top: 50%;
        left: -25px;
        margin-top: -50px;
        z-index: 50;
        text-align: center;
        line-height: 48px;
        opacity: 0;
        visibility: hidden;
        @media #{$breakpoint-xs} {
            left: 0;
        }
        &:hover,
        &:focus {
            background-color: $dark-color;
            color: #fff;
        }
    }
    .owl-next {
        left: auto;
        right: -25px;
        @media #{$breakpoint-xs} {
            right: 0;
        }
    }
    &:hover {
        .owl-prev,
        .owl-next {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* :: 10.0 Songs Area CSS */

.single-song-area {
    position: relative;
    z-index: 1;
    .song-thumbnail {
        position: relative;
        z-index: 1;
        @include flex(0 0 135px);
        max-width: 135px;
        width: 135px;
        margin-right: 50px;
        img {
            width: 100%;
        }
        @media #{$breakpoint-xs} {
            margin-right: 0;
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
    }
    .song-play-area {
        position: relative;
        z-index: 1;
        @include flex(0 0 calc(100% - 185px));
        max-width: calc(100% - 185px);
        width: calc(100% - 185px);
        background-color: #262626;
        padding: 15px 30px 20px;
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
        }
        .song-name p {
            color: #b8b8b8;
            margin-bottom: 5px;
        }
        .audioplayer {
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
            align-items: center;
            border: none;
            border-radius: 0;
            background: transparent;
        }
        .audioplayer-playing .audioplayer-playpause,
        .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover,
        .audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
            background: #fff;
        }
        .audioplayer-time {
            font-size: 14px;
            color: #fff;
        }
    }
}

.song-play-area {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #262626;
    padding: 15px 30px 20px;
    border: 1px solid #363636;
    .song-name p {
        color: #b8b8b8;
        margin-bottom: 5px;
    }
    .audioplayer {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        align-items: center;
        border: none;
        border-radius: 0;
        background: transparent;
    }
    .audioplayer-playing .audioplayer-playpause,
    .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover,
    .audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
        background: #fff;
    }
    .audioplayer-time {
        font-size: 14px;
        color: #fff;
    }
}

/* :: 11.0 Miscellaneous Area CSS */

.weeks-top-area {
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    @include trans-duration(500ms);
    border: 1px solid transparent;
    .single-top-item {
        position: relative;
        z-index: 1;
        margin-bottom: 21px;
        &:last-child {
            margin-bottom: 0;
        }
        .thumbnail {
            @include flex(0 0 73px);
            max-width: 73px;
            width: 73px;
            margin-right: 20px;
        }
        .content- {
            h6 {
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
    }
    &:hover,
    &:focus {
        background-color: #f5f9fa;
        border-color: #d8d8d8;
    }
}

.popular-artists-area {
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    @include trans-duration(500ms);
    border: 1px solid #d8d8d8;
    background-color: #f5f9fa;
    .single-artists {
        position: relative;
        z-index: 1;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
        .thumbnail {
            @include flex(0 0 63px);
            max-width: 63px;
            width: 63px;
            margin-right: 20px;
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
        }
        .content- {
            p {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
}

.new-hits-area {
    position: relative;
    z-index: 1;
    padding: 45px 30px;
    @include trans-duration(500ms);
    border: 1px solid #d8d8d8;
    background-color: #f5f9fa;
    .single-new-item {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 10px;
        padding-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
        .thumbnail {
            @include flex(0 0 73px);
            max-width: 73px;
            width: 73px;
            margin-right: 20px;
        }
        .content- {
            h6 {
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        .audioplayer {
            margin: 0;
            padding: 0;
            width: auto;
            height: auto;
            border: none;
            border-radius: 0;
            background: transparent;
        }
        .audioplayer-playing .audioplayer-playpause,
        .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover,
        .audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
            background: #d6d6d6;
        }
        .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
            border-left: 12px solid #fff;
        }
        .audioplayer-time,
        .audioplayer-volume,
        .audioplayer-bar {
            display: none;
        }
    }
}

/* :: 12.0 Login Area CSS */

.login-content {
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    border: 1px solid #d8d8d8;
    padding: 50px 100px;
    box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    @media #{$breakpoint-xs} {
        padding: 50px 30px;
    }
    h3 {
        margin-bottom: 30px;
    }
    .form-group {
        text-align: left;
    }
    .form-control {
        width: 100%;
        height: 50px;
        border: 1px solid $dark-color;
        font-size: 12px;
        font-style: italic;
        padding: 0 20px;
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

/* :: 13.0 Services Area CSS */

.single-service-area {
    .icon {
        @include flex(0 0 78px);
        max-width: 78px;
        width: 78px;
        position: relative;
        z-index: 1;
        width: 78px;
        height: 78px;
        border: 1px solid $dark-color;
        text-align: center;
        span {
            line-height: 76px;
            font-size: 40px;
        }
    }
    .text {
        position: relative;
        z-index: 1;
        @include flex(0 0 calc(100% - 78px));
        max-width: calc(100% - 78px);
        width: calc(100% - 78px);
        padding-left: 30px;
    }
}

/* :: 14.0 Footer Area CSS */

.footer-area {
    position: relative;
    z-index: 1;
    background-color: $footer-color;
    padding: 30px 0;
    @media #{$breakpoint-xs} {
        text-align: center;
    }
    .copywrite-text {
        font-size: 12px;
        margin-bottom: 0;
        color: rgba(166, 165, 165, 0.54);
        a {
            color: rgba(166, 165, 165, 0.54);
            font-size: 12px;
            &:hover,
            &:focus {
                color: #fff;
            }
        }
    }
    .footer-nav {
        ul {
            @include display-flex(flex);
            @include align-items(center);
            @include justify-content-end;
            @media #{$breakpoint-xs} {
                @include justify-content-center;
                margin-top: 30px;
            }
        }
        li {
            a {
                color: #898888;
                font-size: 16px;
                padding: 0 20px;
                @media #{$breakpoint-md} {
                    padding: 0 10px;
                    font-size: 14px;
                }
                @media #{$breakpoint-xs} {
                    padding: 0 10px;
                    font-size: 14px;
                }
                &:hover,
                &:focus {
                    color: #fff;
                }
            }
            &:last-child a {
                padding-right: 0;
            }
        }
    }
}

/* :: 15.0 Breadcumb Area CSS */

.breadcumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 385px;
    @media #{$breakpoint-xs} {
        height: 270px;
    }
    .bradcumbContent {
        position: absolute;
        background-color: #fff;
        width: 552px;
        bottom: 0;
        left: 50%;
        z-index: 100;
        text-align: center;
        padding-top: 40px;
        @include transform(translateX(-50%));
        @media #{$breakpoint-xs} {
            width: calc(100% - 60px);
            padding-top: 30px;
        }
        p {
            line-height: 1.5;
            font-size: 16px;
            color: $text-color;
        }
        h2 {
            font-size: 30px;
            letter-spacing: 10px;
            text-transform: uppercase;
            line-height: 1;
            margin-bottom: 0;
            @media #{$breakpoint-xs} {
                font-size: 18px;
                letter-spacing: 5px;
            }
        }
    }
}

/* :: 16.0 Blog Area CSS */

.single-blog-post {
    position: relative;
    z-index: 1;
    .blog-post-thumb {
        position: relative;
        z-index: 1;
        .post-date {
            width: 76px;
            height: 106px;
            border: 1px solid $dark-color;
            text-align: center;
            background-color: #fff;
            position: absolute;
            z-index: 10;
            top: -30px;
            left: 30px;
            padding: 17px 0;
            span {
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 1.3;
                &:first-child {
                    font-size: 36px;
                }
            }
        }
    }
    .blog-content {
        background-color: #f5f9fa;
        padding: 45px 40px;
        border: 1px solid #d8d8d8;
        @media #{$breakpoint-xs} {
            padding: 30px 20px;
        }
        .post-title {
            font-size: 24px;
            display: block;
            @media #{$breakpoint-xs} {
                font-size: 20px;
            }
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 10px;
            p {
                color: #8d8d8d;
                font-size: 13px;
                padding-right: 25px;
                position: relative;
                z-index: 1;
                &::after {
                    content: '|';
                    position: absolute;
                    right: 12px;
                    top: 0;
                    z-index: 5;
                }
                &:last-child::after {
                    display: none;
                }
                a {
                    color: #8d8d8d;
                    font-size: 13px;
                    margin-bottom: 0;
                    font-weight: 400;
                    &:hover,
                    &:focus {
                        color: $dark-color;
                    }
                }
            }
        }
        p {
            margin-bottom: 0;
        }
    }
}

.oneSeries-pagination-area {
    .pagination {
        .page-item {
            .page-link {
                background-color: transparent;
                display: block;
                padding: 0;
                border: 1px solid transparent;
                color: #5f5f5f;
                font-size: 15px;
                font-weight: 400;
                width: 34px;
                height: 34px;
                line-height: 32px;
                text-align: center;
                margin-right: 10px;
                &:hover,
                &:focus {
                    color: $dark-color;
                    border: 1px solid $dark-color;
                }
            }
            &:first-child .page-link {
                margin-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:last-child .page-link {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &.active {
                .page-link {
                    color: $dark-color;
                    border: 1px solid $dark-color;
                }
            }
        }
    }
}

.blog-sidebar-area {
    position: relative;
    z-index: 1;
    @media #{$breakpoint-xs} {
        margin-top: 100px;
    }
}

.single-widget-area {
    position: relative;
    z-index: 1;
    background-color: #f5f9fa;
    border: 1px solid #d8d8d8;
    img {
        width: 100%;
    }
    .widget-title {
        padding: 25px 45px;
        border-bottom: 1px solid #d8d8d8;
        @media #{$breakpoint-lg} {
            padding: 20px 30px;
        }
        h5 {
            margin-bottom: 0;
            line-height: 1;
        }
    }
    .widget-content {
        padding: 25px 45px;
        @media #{$breakpoint-lg} {
            padding: 20px 30px;
        }
        ul li {
            margin-bottom: 10px;
            a {
                color: #5f5f5f;
                font-size: 15px;
                font-weight: 400;
                &:hover,
                &:focus {
                    color: $dark-color;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .tags {
            @include display-flex(flex);
            @include flex-wrap(wrap);
            li {
                margin-bottom: 0;
                a {
                    display: block;
                    line-height: 28px;
                    font-size: 15px;
                    color: #5f5f5f;
                    height: 30px;
                    background-color: #fff;
                    padding: 0 15px;
                    border: 1px solid $dark-color;
                    margin: 3px;
                    @media #{$breakpoint-lg} {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

/* :: 17.0 Skills Area CSS */

.single-skils-area {
    position: relative;
    z-index: 1;
    text-align: center;
    .circle {
        position: relative;
        z-index: 10;
        margin-bottom: 15px;
    }
    .skills-text {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        @include transform(translate(-50%, -50%));
        span {
            font-size: 24px;
            color: $heading-color;
            font-weight: 500;
        }
        p {
            font-size: 15px;
            color: #5f5f5f;
            line-height: 1;
        }
    }
}

/* :: 18.0 Contact Area CSS */

.contact-content {
    position: relative;
    z-index: 2;
    .contact-social-info {
        a {
            display: inline-block;
            margin-right: 20px;
            font-size: 14px;
            color: #000000;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    .single-contact-info {
        position: relative;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        p {
            font-size: 15px;
            margin-bottom: 0;
        }
        .icon {
            @include flex(0 0 35px);
            max-width: 35px;
            width: 35px;
            height: 35px;
            border: 1px solid #000;
            text-align: center;
            span {
                font-size: 20px;
                line-height: 33px;
            }
        }
    }
}

.contact-form-area {
    .form-control {
        position: relative;
        z-index: 2;
        height: 45px;
        width: 100%;
        background-color: transparent;
        font-size: 14px;
        margin-bottom: 15px;
        border: none;
        border-radius: 0;
        padding: 15px 0;
        font-style: italic;
        color: #b3b3b3;
        border-bottom: 1px solid $dark-color;
        @include trans-duration(500ms);
        &:focus {
            box-shadow: none;
            border-bottom: 1px solid $dark-color;
        }
    }
    textarea.form-control {
        height: 160px;
    }
}

.has-bg-img {
    position: relative;
    z-index: 1;
    .contact-form-area {
        .form-control {
            color: #fff;
            border-bottom: 1px solid #fff;
            &:focus {
                border-bottom: 1px solid #fff;
            }
        }
    }
    .oneSeries-btn {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        &:hover,
        &:focus {
            background-color: #fff;
            color: $dark-color;
        }
    }
}

.map-area {
    position: relative;
    z-index: 2;
    iframe {
        width: 100%;
        height: 385px;
        border: none;
        margin-bottom: 0;
        @media #{$breakpoint-xs} {
            height: 300px;
        }
    }
}

/* :: 19.0 Elements Area CSS */

.elements-title {
    position: relative;
    z-index: 1;
    h2 {
        font-size: 24px;
    }
}

/* :: 20.1.0 Single Cool Facts CSS */

.single-cool-fact {
    position: relative;
    z-index: 1;
    .scf-text {
        h2 {
            font-size: 48px;
            margin-bottom: 0;
            color: $heading-color;
            @media #{$breakpoint-lg} {
                font-size: 48px;
            }
            @media #{$breakpoint-md} {
                font-size: 36px;
            }
            @media #{$breakpoint-xs} {
                font-size: 30px;
            }
        }
        p {
            font-size: 15px;
            margin-bottom: 0;
            color: #5f5f5f;
            line-height: 1;
        }
    }
}

/* :: 20.2.0 Accordians Area CSS */

.single-accordion {
    &.panel {
        background-color: $white-color;
        border: 0 solid transparent;
        border-radius: 4px;
        box-shadow: 0 0 0 transparent;
        margin-bottom: 15px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    h6 {
        margin-bottom: 0;
        a {
            background-color: $dark-color;
            border-radius: 0;
            color: $white-color;
            display: block;
            margin: 0;
            padding: 20px 70px 20px 30px;
            position: relative;
            font-size: 14px;
            text-transform: capitalize;
            border: 1px solid $dark-color;
            span {
                background: transparent;
                @include trans-duration(500ms);
                font-size: 10px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 58px;
                height: 100%;
                color: $white-color;
                line-height: 58px;
                &.accor-open {
                    opacity: 0;
                }
            }
            &.collapsed {
                @include trans-duration(500ms);
                background-color: transparent;
                color: $heading-color;
                span {
                    color: $dark-color;
                    &.accor-close {
                        opacity: 0;
                    }
                    &.accor-open {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .accordion-content {
        border-top: 0 solid transparent;
        box-shadow: none;
        p {
            padding: 20px 15px 5px;
            margin-bottom: 0;
        }
    }
}

/* :: 20.3.0 Tabs Area CSS */

.oneSeries-tabs-content {
    position: relative;
    z-index: 1;
    .nav-tabs {
        border-bottom: none;
        margin-bottom: 15px;
        .nav-link {
            background-color: transparent;
            border: 1px solid $dark-color;
            padding: 0 30px;
            height: 58px;
            line-height: 58px;
            color: $heading-color;
            margin: 0 2px;
            border-radius: 0;
            @media #{$breakpoint-lg} {
                padding: 0 15px;
            }
            @media #{$breakpoint-xs} {
                padding: 0 15px;
                font-size: 12px;
                margin-bottom: 5px;
            }
            @media #{$breakpoint-xs-landscape} {
                padding: 0 15px;
            }
            &.active {
                background-color: $dark-color;
                color: $white-color;
            }
        }
    }
    .oneSeries-tab-text {
        position: relative;
        z-index: 1;
        padding-top: 10px;
        p {
            margin-bottom: 0;
        }
    }
    .tab-content {
        h6 {
            font-size: 18px;
        }
    }
}

.single-web-icon {
    position: relative;
    z-index: 1;
    background-color: $bg-gray;
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #b8b8b8;
    @include trans-duration(500ms);
    i {
        display: block;
        font-size: 50px;
        margin-bottom: 15px;
    }
    span {
        font-size: 16px;
    }
    &:hover {
        box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.15);
    }
}

/* ====== The End ====== */